<div ng-controller="MainController as Main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#page-top" class="navbar-brand">ToDo</a>
      </div>

      <!-- Collect nav links, forms, etc for toggling -->
      <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll" ng-show="!Main.authentication.user">
            <a href="/login">Sign In</a>
          </li>
          <li class="page-scroll" ng-show="!Main.authentication.user">
            <a href="/signup">Create a Free Account</a>
          </li>
          <li class="page-scroll" ng-show="Main.authentication.user">
            <a href="/#!/todos">TODOS</a>
          </li>
          <li class="page-scroll" ng-show="Main.authentication.user">
            <a href="/logout">Hello <span ng-bind="Main.authentication.user.name" ng-show="Main.authentication.user"></span>, Logout?</a>
          </li>
        </ul>
      </div> <!-- Navbar Collapse -->
    </div> <!-- Container -->
  </nav>

    <!-- Header -->
    <header data-ng-show="!Main.authentication.user">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
              <div class="intro-text">
                <span class="name">Keep your life in order</span>
                <hr class="line-light">
                <p class="skills">Mongo Express Node Angular powered TODO list.</p>
                <p class="skills description">TodoIt is the easiest way to get stuff done. Whether you’re planning a holiday, sharing a shopping list with a partner or managing multiple work projects, TodoIt is here to help you tick off all your personal and professional to-dos.</p>
                <div class="cta">
                  <a class="button" href="/signup">Create a Free Account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>

    <section id="about" ng-show="Main.authentication.user">
        <div class="container">
        <ul>
        <h3>
          <li><a href="/#!/todos">List Todos</a></li>
        </h3>
        
        <h3>
          <li><a href="/#!/todos/create">Create Todo</a></li>
        </h3>
      </ul>        
        </div>
    </section>

    <!-- About Section -->
    <section ng-show="!Main.authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About TodoApp</h2>
                    <hr class="line-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-center">TODO is an application for managing your TODOs built on top of the MEAN stack. </p>
                </div>
            </div>
        </div>
    </section>

</div>