[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.navbar {
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .search {
  position: relative;
  color: #aaa;
}

.navbar .search .fa-search {
  position: absolute;
  top: 10px;
}

.navbar .search .fa-close {
  color: #777;
  font-size: 20px;
  position: absolute;
  top: 6px;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .search .fa-close:hover {
  cursor: pointer;
  color: #dd4c39;
  font-size: 22px;
}

.navbar .search #search {
  margin-top: 2px;
  border: none;
  text-indent: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  box-shadow: none;
}

.navbar .search #search:focus {
  outline: none;
}

hr.line-light,
hr.line-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border-top: solid 5px;
  text-align: center;
}

hr.line-light {
  border-color: #fff;
}

hr.line-primary {
  border-color: #2c3e50;
}

header {
  text-align: center;
  color: black;
  background-image: url("/resources/img/todolist-header.jpg");
  background-size: cover;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .name {
  display: block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

header .intro-text .skills {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

header .intro-text .description {
  font-size: 18px;
  font-weight: 100;
}

header .intro-text .cta {
  text-align: left;
  margin-top: 50px;
}

header .intro-text .cta .button {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #dd4c39;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .intro-text .cta .button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: #c23421;
}

section:first-child {
  margin-top: 50px;
}

.new-todo {
  position: relative;
}

.new-todo .plus {
  position: absolute;
  left: 8px;
  top: -1px;
  color: #777;
  font-size: 25px;
  font-weight: 100;
}

.new-todo #new-todo {
  margin-top: 20px;
  padding: 13px 12px 10px;
  text-indent: 15px;
  color: #777;
}

.todo-logo {
  margin: 50px auto 0;
  display: block;
  width: 70px;
}

.switch {
  margin-top: 30px;
  color: #777;
}

.signup {
  background-color: #fafafa;
}

.signup .signup-heading {
  font-weight: 300;
  font-size: 40px;
  color: #444444;
}

.signup .signup-col {
  margin-top: 40px;
  border-right: 1px solid #cccccc;
}

.signup .signup-col form {
  position: relative;
  margin: 5px 60px;
}

.signup .signup-col form input {
  border-radius: 0px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 30px 10px;
  text-indent: 40px;
  color: #777;
}

.signup .signup-col form input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.signup .signup-col form input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.signup .signup-col form .fa {
  position: absolute;
  left: 15px;
}

.signup .signup-col form .fa.fa-user {
  top: 15px;
  font-size: 30px;
  color: #ccc;
}

.signup .signup-col form .fa.fa-envelope {
  top: 80px;
  font-size: 25px;
  color: #ccc;
}

.signup .signup-col form .fa.fa-lock {
  top: 135px;
  font-size: 35px;
  color: #ccc;
}

.signup .signup-col form button {
  font-weight: 300;
  background-color: #247bc6;
}

.signup .feature-col {
  padding: 30px 20px 0 70px;
}

.signup .feature-col .feature {
  display: inline-block;
  margin-top: 10px;
}

.signup .feature-col .feature h2 {
  font-size: 20px;
  font-weight: 400;
  color: #4194dc;
}

.signup .feature-col .feature p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.login {
  margin-top: 20px;
  background-color: #fafafa;
}

.login .login-col {
  display: block;
  margin: 0 auto;
  width: 550px;
}

.login form {
  position: relative;
  margin: 35px 60px 5px;
}

.login form input {
  border-radius: 0px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 30px 10px;
  text-indent: 40px;
  color: #777;
}

.login form input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.login form input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.login form .fa {
  position: absolute;
  left: 15px;
}

.login form .fa.fa-user {
  top: 15px;
  font-size: 30px;
  color: #ccc;
}

.login form .fa.fa-lock {
  top: 75px;
  font-size: 35px;
  color: #ccc;
}

.login form button {
  font-weight: 300;
  background-color: #247bc6;
}
