[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.btn:focus,
.btn:active {
  outline: none !important;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_7875fc1239d5ca042ef23656d749e383.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .search {
  position: relative;
  color: #aaa;
}

.navbar .search .fa-search {
  position: absolute;
  top: 10px;
}

.navbar .search .fa-close {
  color: #777;
  font-size: 20px;
  position: absolute;
  top: 6px;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .search .fa-close:hover {
  cursor: pointer;
  color: #dd4c39;
  font-size: 22px;
}

.navbar .search #search {
  margin-top: 2px;
  border: none;
  text-indent: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  box-shadow: none;
}

.navbar .search #search:focus {
  outline: none;
}

hr.line-light,
hr.line-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border-top: solid 5px;
  text-align: center;
}

hr.line-light {
  border-color: #fff;
}

hr.line-primary {
  border-color: #2c3e50;
}

header {
  text-align: center;
  color: black;
  background-image: url("/resources/img/todolist-header.jpg");
  background-size: cover;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .name {
  display: block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

header .intro-text .skills {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

header .intro-text .description {
  font-size: 18px;
  font-weight: 100;
}

header .intro-text .cta {
  text-align: left;
  margin-top: 50px;
}

header .intro-text .cta .button {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #dd4c39;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .intro-text .cta .button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: #c23421;
}

.todo-logo {
  margin: 50px auto 0;
  display: block;
  width: 70px;
}

.switch {
  margin-top: 30px;
  color: #777;
}

.signup {
  background-color: #fafafa;
}

.signup .signup-heading {
  font-weight: 300;
  font-size: 40px;
  color: #444444;
}

.signup .signup-col {
  margin-top: 40px;
  border-right: 1px solid #cccccc;
}

.signup .signup-col form {
  position: relative;
  margin: 5px 60px;
}

.signup .signup-col form input {
  border-radius: 0px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 30px 10px;
  text-indent: 40px;
  color: #777;
  box-shadow: none;
}

.signup .signup-col form input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.signup .signup-col form input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.signup .signup-col form .fa {
  position: absolute;
  left: 15px;
}

.signup .signup-col form .fa.fa-user {
  top: 15px;
  font-size: 30px;
  color: #ccc;
}

.signup .signup-col form .fa.fa-envelope {
  top: 80px;
  font-size: 25px;
  color: #ccc;
}

.signup .signup-col form .fa.fa-lock {
  top: 135px;
  font-size: 35px;
  color: #ccc;
}

.signup .signup-col form button {
  font-weight: 300;
  background-color: #247bc6;
}

.signup .feature-col {
  padding: 30px 20px 0 70px;
}

.signup .feature-col .feature {
  display: inline-block;
  margin-top: 10px;
}

.signup .feature-col .feature h2 {
  font-size: 20px;
  font-weight: 400;
  color: #4194dc;
}

.signup .feature-col .feature p {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.login {
  margin-top: 20px;
  background-color: #fafafa;
}

.login .login-col {
  display: block;
  margin: 0 auto;
  width: 550px;
}

.login form {
  position: relative;
  margin: 35px 60px 5px;
}

.login form input {
  border-radius: 0px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 30px 10px;
  text-indent: 40px;
  color: #777;
  box-shadow: none;
}

.login form input:focus {
  box-shadow: none;
  border-color: #ccc;
}

.login form input:first-of-type {
  border-radius: 5px 5px 0 0;
}

.login form input:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.login form .fa {
  position: absolute;
  left: 15px;
}

.login form .fa.fa-user {
  top: 15px;
  font-size: 30px;
  color: #ccc;
}

.login form .fa.fa-lock {
  top: 75px;
  font-size: 35px;
  color: #ccc;
}

.login form button {
  font-weight: 300;
  background-color: #247bc6;
}

section:first-child {
  margin-top: 50px;
}

.mark-all {
  display: block;
  position: relative;
  height: 30px;
  background-color: white;
  margin-top: 30px;
  padding: 5px 0 0px 15px;
}

.mark-all div {
  position: absolute;
  left: 17px;
  top: 7px;
  cursor: pointer;
}

.mark-all div .fa {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mark-all div p {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mark-all div:hover .fa {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #65b01b;
}

.mark-all div:hover p {
  color: #65b01b;
}

.todo-main {
  background-image: url("/resources/img/background.jpg");
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 80px;
}

.new-todo {
  position: relative;
}

.new-todo .plus {
  position: absolute;
  left: 10px;
  top: 4px;
  color: #ccc;
  font-size: 25px;
  font-weight: 100;
}

.new-todo #new-todo {
  margin-top: 20px;
  height: 45px;
  padding: 13px 12px 10px;
  text-indent: 18px;
  color: #EDEDED;
  font-weight: 300;
  border-style: none;
  background-color: #7a9675;
  box-shadow: none;
  letter-spacing: .5px;
}

.new-todo #new-todo::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
  font-size: 16px;
}

.new-todo #new-todo:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
  font-size: 16px;
}

.new-todo #new-todo::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
  font-size: 16px;
}

.new-todo #new-todo:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
  font-size: 16px;
}

.new-todo #new-todo:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #ccc;
  font-size: 16px;
}

.todo-list,
.completed-list {
  list-style: none;
  padding: 0;
}

.todo-list li,
.completed-list li {
  display: inline-block;
  width: 100%;
  height: 50px;
  border-top: 1px solid #e6e6e6;
  background-color: white;
}

.todo-list li .todo-content,
.completed-list li .todo-content {
  position: relative;
  padding: 15px 15px;
}

.todo-list li .todo-content a,
.completed-list li .todo-content a {
  font-size: 17px;
}

.todo-list li .todo-content .fa-trash-o,
.completed-list li .todo-content .fa-trash-o {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 25px;
  font-size: 25px;
  -webkit-transition: visibility 0s linear 0.1s,opacity 0.2s linear;
  transition: visibility 0s linear 0.1s,opacity 0.2s linear;
}

.todo-list li:hover .fa-trash-o,
.completed-list li:hover .fa-trash-o {
  visibility: visible;
  opacity: 1;
}

.completed-list li {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.completed-list li .completed {
  text-decoration: line-through;
}

.list-body {
  position: relative;
  margin-bottom: 10px;
}

.list-body #todos-count {
  padding: 13px 0;
  margin: -9px 0 30px;
  background-color: white;
  color: #777;
  height: 40px;
  border-top: 1px solid #e6e6e6;
}

.list-body #todos-count .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list-body #todos-count .flex strong {
  margin-right: 5px;
}

.list-body #todos-count .flex #items-completed {
  margin-left: 20px;
  color: #b7b7b7;
}

.list-body #todos-count .flex #items-completed + div {
  color: #b7b7b7;
}

.list-body #todos-count:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#list-buttons {
  position: relative;
  margin-bottom: 5px;
}

#list-buttons #show-completed,
#list-buttons #clear-completed {
  background-color: rgba(102, 137, 100, 0.75);
  border: none;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

#list-buttons #show-completed:hover,
#list-buttons #clear-completed:hover {
  background-color: rgba(102, 137, 100, 0.75);
}

#list-buttons #clear-completed {
  position: absolute;
  right: 0;
  background-color: rgba(231, 76, 60, 0.75);
}

#list-buttons #clear-completed:hover {
  background-color: rgba(231, 76, 60, 0.75);
}
