[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.navbar {
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .search {
  position: relative;
  color: #aaa;
}

.navbar .search .fa-search {
  position: absolute;
  top: 10px;
}

.navbar .search .fa-close {
  color: #777;
  font-size: 20px;
  position: absolute;
  top: 6px;
  right: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .search .fa-close:hover {
  cursor: pointer;
  color: #dd4c39;
  font-size: 22px;
}

.navbar .search #search {
  margin-top: 2px;
  border: none;
  text-indent: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  box-shadow: none;
}

.navbar .search #search:focus {
  outline: none;
}

hr.line-light,
hr.line-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border-top: solid 5px;
  text-align: center;
}

hr.line-light {
  border-color: #fff;
}

hr.line-primary {
  border-color: #2c3e50;
}

header {
  text-align: center;
  color: black;
  background-image: url("/resources/img/todolist-header.jpg");
  background-size: cover;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .name {
  display: block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

header .intro-text .skills {
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

header .intro-text .description {
  font-size: 18px;
  font-weight: 100;
}

header .intro-text .cta {
  text-align: left;
  margin-top: 50px;
}

header .intro-text .cta .button {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #dd4c39;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .intro-text .cta .button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  color: #c23421;
}

section {
  margin-top: 50px;
}
