
// Colors
// ==================================

$primary-orange: #dd4c39;
$primary-blue: #247bc6;
$primary-green: #65b01b;
$background-white: #fafafa;
$background-gradient: linear-gradient(rgb(250, 250, 250), rgb(243, 243, 243));


$text-dark-gray: #777;

// Base Styles
// ==================================

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    overflow: hidden;
    font-family:'Roboto', sans-serif;
}

p {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-weight: 700;
}

.btn:focus,
.btn:active {
  outline: none !important;
}

// Custom Checkbox Style Library
// ==================================
input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:25px;
  height:20px; 
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}

label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_7875fc1239d5ca042ef23656d749e383.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Navbar Styles
// ==================================
.navbar {
    background-color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

  
  .navbar-nav {
    letter-spacing: 1px;
  }
  
  .search {
    position: relative;
    color: #aaa;
  
    .fa-search {
      position: absolute;
      top: 10px;
    }

    .fa-close {
      color: $text-dark-gray;
      font-size: 20px;
      position: absolute;
      top: 6px;
      right: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $primary-orange;
        font-size: 22px;
      }
    }

    #search {
      margin-top: 2px;
      border: none;
      text-indent: 10px;
      font-weight: 400;
      font-size: 16px;
      color: $text-dark-gray;
      box-shadow: none;

      &:focus {
        outline: none;
      }
    }
  }
}

// Main Header Styles
// ==================================

hr.line-light,
hr.line-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border-top: solid 5px;
    text-align: center;
}

hr.line-light {
    border-color: #fff;
}

hr.line-primary {
    border-color: #2c3e50;
}

header {
    text-align: center;
    color: black;
    background-image: url('/resources/img/todolist-header.jpg');
    background-size: cover;
  
  .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .intro-text {
    .name {
      display: block;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 100;
    }

    .skills {
      text-align: left;
      color: #fff;
      font-size: 20px;
      font-weight: 300;
    }

    .description {
      font-size: 18px;
      font-weight: 100;
    }
    
    .cta {
      text-align: left;
      margin-top: 50px;
      .button {
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        color: $primary-orange;
        font-weight: 500;
        font-size: 16px;
        transition: all 0.2s ease-in-out;

        &:hover {
          text-decoration: none;
          box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
          color: darken($primary-orange, 10%);
        }
      }
    }
  }
}

// Signup Page Styles
// ==================================
.todo-logo {
  margin: 50px auto 0;
  display: block;
  width: 70px;
}

.switch {
  margin-top: 30px;
  color: $text-dark-gray;
}

.signup {
  background-color: #fafafa;

  .signup-heading {
    font-weight: 300;
    font-size: 40px;
    color: darken($text-dark-gray, 20%);
  }
  
  .signup-col {
    margin-top: 40px;
    border-right: 1px solid #cccccc;

    form {
      position: relative;
      margin: 5px 60px;

      input {
        border-radius: 0px;
        border: 1px solid #ccc;
        border-bottom: none;
        padding: 30px 10px;
        text-indent: 40px;
        color: $text-dark-gray;
        box-shadow: none;

        &:first-of-type {
          border-radius: 5px 5px 0 0;
        }

        &:last-of-type {
          border-radius: 0 0 5px 5px;
          border-bottom: 1px solid #ccc;
          margin-bottom: 10px;
        }
      }

      .fa {
        position: absolute;
        left: 15px;

        &.fa-user {
          top: 15px;
          font-size: 30px;
          color: #ccc;
        }

        &.fa-envelope {
          top: 80px;
          font-size: 25px;
          color: #ccc;
        }

        &.fa-lock {
          top: 135px;
          font-size: 35px;
          color: #ccc;
        }
      }

      button {
          font-weight: 300;
          background-color: $primary-blue;
      }
    }

  }

  .feature-col {
    padding: 30px 20px 0 70px;

    .feature {
      display: inline-block;
      margin-top: 10px;

      h2 {
        font-size: 20px;
        font-weight: 400;
        color: lighten($primary-blue, 10%);
      }
      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
      }
    }
  }
}

// Login Page Styles
// ==================================

.login {
  margin-top: 20px;
  background-color: #fafafa;
  
  .login-col {
    display: block;
    margin: 0 auto;
    width: 550px;
  }

  form {
    position: relative;
    margin: 35px 60px 5px;

    input {
      border-radius: 0px;
      border: 1px solid #ccc;
      border-bottom: none;
      padding: 30px 10px;
      text-indent: 40px;
      color: $text-dark-gray;
      box-shadow: none;

      &:focus {
        box-shadow: none;
        border-color: #ccc;
      }

      &:first-of-type {
        border-radius: 5px 5px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 5px 5px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
      }
    }

    .fa {
      position: absolute;
      left: 15px;

      &.fa-user {
        top: 15px;
        font-size: 30px;
        color: #ccc;
      }

      &.fa-lock {
        top: 75px;
        font-size: 35px;
        color: #ccc;
      }
    }

    button {
        font-weight: 300;
        background-color: $primary-blue;
    }
  }
}

// Main Section Styles
// ==================================

section:first-child {
  margin-top: 50px;
}

// Toglle Mark All Styles
// ==================================

  .mark-all {
    display: block;
    position: relative;
    height: 30px;
    background-color: white;
    margin-top: 30px;
    padding: 5px 0 0px 15px;

    div {
      position: absolute;
      left: 17px;
      top: 7px;
      cursor: pointer;
      
      .fa {
        transition: all 0.2s ease-in-out;
      }

      p {
        display: inline-block;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .fa {
          transform: scale(1.2);
          color: $primary-green;
        }

        p {
          color: $primary-green;
        }
      }
    }
  }

// Create New Todo Input Styles
// ==================================
.todo-main {
  background-image: url('/resources/img/background.jpg');
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 80px;
}

.new-todo {
  position: relative;
  
  .plus {
    position: absolute;
    left: 10px;
    top: 4px;
    color: #ccc;
    font-size: 25px;
    font-weight: 100;
  }

  #new-todo {
    margin-top: 20px;
    height: 45px;
    padding: 13px 12px 10px;
    text-indent: 18px;
    color: #EDEDED;
    font-weight: 300;
    border-style: none;
    background-color: #7a9675;
    box-shadow: none;
    letter-spacing: .5px;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: #ccc;
      font-size: 16px;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #ccc;
      opacity:  1;
      font-size: 16px;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #ccc;
      opacity:  1;
      font-size: 16px;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ccc;
      font-size: 16px;
    }
    &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
      color: #ccc;
      font-size: 16px;
    }
  }
}

// Todo Item Styles
// ==================================

.todo-list,
.completed-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e6e6e6;
    background-color: white;

    .todo-content {
      position: relative;
      padding: 15px 15px;
      
      a {
        font-size: 17px;
      }

      .fa-trash-o {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 25px;
        font-size: 25px;
        transition:visibility 0s linear 0.1s,opacity 0.2s linear;
      }
    }

    &:hover {
      .fa-trash-o {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.completed-list {
  li {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, 0.14);


    .completed {
      text-decoration: line-through;
    }
  }
}


// List Footer Styles
// ==================================
.list-body {
  position: relative;
  margin-bottom: 10px;

  #todos-count {
    padding: 13px 0;
    margin: -9px 0 30px;
    background-color: white;
    color: $text-dark-gray;
    height: 40px;
    border-top: 1px solid #e6e6e6;
    
    .flex {
      display: flex;

      strong {
        margin-right: 5px;
      }

      #items-completed {
        margin-left: 20px;
        color: lighten($text-dark-gray, 25%);

        &+div {
          color: lighten($text-dark-gray, 25%);          
        }
      }
    }
  }

  #todos-count:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
}



// Todo Button Styles
// ==================================

#list-buttons {
  position: relative;
  margin-bottom: 5px;

  #show-completed,
  #clear-completed {
    background-color: rgba(102,137,100,0.75);
    border: none;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {
      background-color: rgba(102,137,100,0.75);
    }
  }

  #clear-completed {
    position: absolute;
    right: 0;
    background-color: rgba(231, 76, 60, 0.75);

    &:hover {
      background-color: rgba(231, 76, 60, 0.75);
    }
  }
}











































