<div class="todo-main" ng-controller="TodosController as Todos">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#page-top" class="navbar-brand">ToDo Inbox</a>
      </div>

      <!-- Collect nav links, forms, etc for toggling -->
      <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
        <div class="navbar-form navbar-left search">
          <span class="fa fa-search"></span>
          <input type="text" ng-model="Todos.search.title" class="form-control" id="search" placeholder="Search Your Todos">
          <span ng-click="Todos.clearSearch()" ng-show="Todos.search" class="fa fa-close"></span>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll" ng-show="!Todos.authentication.user">
            <a href="/login" target="_self">Login</a>
          </li>
          <li class="page-scroll" ng-show="!Todos.authentication.user">
            <a href="/register" target="_self">Register</a>
          </li>
          <li class="page-scroll" ng-show="Todos.authentication.user">
            <a href="/logout" target="_self">Hello <span ng-bind="Todos.authentication.user.username" ng-show="Todos.authentication.user"></span>, Logout?</a>
          </li>
        </ul>
      </div> <!-- Navbar Collapse -->
    </div> <!-- Container -->
  </nav>
  
  <!-- Create New todo Item -->
  <section>
    <div class="container">
      <form ng-submit="Todos.create()" novalidate>
        <div class="new-todo">
          <label for="new-todo" class="sr-only">New Todo</label>
          <span class="plus">+</span>
          <input type="text" ng-model="Todos.newTodo" id="new-todo" Placeholder="Add a todo..." required autofocus class="form-control">
        </div>
        <div ng-show="Todos.error">
          <strong>{{ Todos.error }}</strong>
        </div>
      </form>
    </div>
  </section>

  <!-- List Todo Items -->
  <section ng-init="Todos.find()">
    <div class="container">
      <div>
        <div class="mark-all" ng-init="Todos.toggleAll=false" ng-click="Todos.checkAll()" ng-show="Todos.todos.length && Todos.remainingCount">
          <div>
            <span class="fa fa-check-square-o"></span>
            <p>Mark All Todos as Complete</p>
          </div>
        </div>
      </div>
      <!-- Todo List -->
      <div class="list-body">
        <ul class="todo-list">
          <li ng-repeat="todo in Todos.todos | filter:Todos.search" ng-show="!todo.completed">
            <div class="todo-content">
              <input type="checkbox" class="css-checkbox" ng-change="todo.$update()" ng-model="todo.completed" id="{{todo._id}}">
              <label class="css-label" for="{{todo._id}}"></label>
              <a href="/todos/{{todo._id}}" ng-bind="todo.title" ng-class="todo.completed ? 'completed' : '' "></a>
              <small ng-bind="todo.comment" class="comment"></small>
              <a href="#" ng-click="Todos.delete(todo)"><span class="fa fa-trash-o"></span></a>
            </div>
          </li>
        </ul>

        <!-- Count of Remaining Todos -->
        <section ng-show="Todos.todos.length && Todos.remainingCount" id="todos-count">
          <div class="container flex">
            <strong id="items-remaining">{{ Todos.remainingCount }}</strong>
            <div ng-pluralize count="Todos.remainingCount" when="{ one: 'item left', other: 'items left' }"></div>
            <strong id="items-completed">{{ Todos.completedCount }}</strong>
            <div ng-pluralize count="Todos.completedCount" when="{ one: 'item completed', other: 'items completed' }"></div>
          </div>
        </section>
      </div>

      <!-- Show Only When There are Completed Todos -->
      <section id="list-buttons" ng-cloak ng-show="Todos.completedCount >= 1">
        <div class="container">
          <div class="row">
            <button class="btn btn-default" ng-model="Todos.showCompleted" ng-init="Todos.showCompleted=false" id="show-completed" ng-click="Todos.showCompleted = !Todos.showCompleted">
              Show Completed To-Dos ({{ Todos.completedCount }})
            </button>

            <button class="btn btn-default" id="clear-completed" ng-click="Todos.clearCompleted()" ng-show="Todos.showCompleted && Todos.completedCount"><span class="fa fa-trash-o"></span> Clear Completed Todos</button>
          </div>
        </div>
      </section>

      <!-- Completed Todo Items -->
      <ul class="completed-list">
        <li ng-repeat="todo in Todos.todos" ng-show="Todos.showCompleted && todo.completed">
          <div class="todo-content">
            <input type="checkbox" class="css-checkbox" ng-change="todo.$update()" ng-model="todo.completed" id="{{todo._id}}">
            <label class="css-label" for="{{todo._id}}"></label>
            <a href="/todos/{{todo._id}}" ng-bind="todo.title" ng-class="todo.completed ? 'completed' : '' "></a>
            <small ng-bind="todo.comment" class="comment"></small>
          </div>
        </li>
      </ul>
    </div>
  </section>
  
</div>