<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css">
    <!-- Bootstrap Files -->
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body class="signup">
  <div class="container">
    <img class="todo-logo" src="resources/img/todo-100.png" alt="todo-logo">
    <h2 class="signup-heading text-center">Get ToDo for Free</h2>
    
    <div class="row">
      <div class="col-sm-6 signup-col">
        <form class="form-signup" action="/signup" method="post" novalidate>
          <label for="username" class="sr-only">Username</label>
          <span class="fa fa-user"></span>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

          <label for="email" class="sr-only">E-mail</label>
          <span class="fa fa-envelope"></span>
          <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
          
          <label for="password" class="sr-only">Password</label>
          <span class="fa fa-lock"></span>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Create Free Account</button>
        </form>

        <% for(var i in messages) { %>
        <div class="flash"><%= messages[i] %></div>
        <% } %>

        <div class="row">
          <div class="text-center">
            <a href="/oauth/facebook">Login with Facebook</a>
          </div>
          <div class="switch text-center">
            Already have an account? <a href="/login">Sign In</a>
          </div>
        </div>

      </div> <!-- Col -->
      <div class="col-sm-6">
        
      </div> <!-- Col -->
    </div>
  </div> <!-- Container -->
</body>
</html>